---

extends: default

rules:
  document-start: disable
  new-line-at-end-of-file: disable
  line-length: disable
  comments-indentation: disable
  comments:
      require-starting-space: false
      min-spaces-from-content: 0
