        <section>
            <%_ if (question.title) { -%>
                <h2><%= question.title %></h2>
            <%_ } -%>
            <p><%= question.question %></p>
            <%_ if (isAnswer) { -%>
                <p class="fragment answer"><%= question.answer %></p>
            <%_ } -%>
            <%_ if (question.source) { -%>
                <p class="source"><%= question.source %></p>
            <%_ } -%>
        </section>
