<html>
<head>
    <link rel="stylesheet" href="../node_modules/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="../node_modules/reveal.js/dist/theme/black.css">
    <style>
        section img {
            max-height: 75% !important;
            max-width: 75% !important;
        }
    </style>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <%_ questions.forEach(function(question){ -%>
            <%_ if (question.type === 'title') { -%>
<%- include('title', { question }); %>
            <%_ } -%>
            <%_ if (question.type === 'text') { -%>
<%- include('questions/text', { question, isAnswer }); %>
            <%_ } -%>
            <%_ if (question.type === 'image') { -%>
<%- include('questions/image', { question, isAnswer }); %>
            <%_ } -%>
        <%_ }); -%>
    </div>
</div>
<script src="../node_modules/reveal.js/dist/reveal.js"></script>
<script src="../node_modules/reveal.js/plugin/markdown/markdown.js"></script>
<script>
    Reveal.initialize({
        controls: false,
        progress: false,
        center: true,
        hash: true,
        keyboard: true,
        plugins: [ RevealMarkdown ]
    });
</script>
</body>
</html>
